/* Acá va tu código */
/* input*/
#cipher{
    width: 35em;
    height: 20em;
    letter-spacing: 1px;
    resize: none;
    float: left;
}
/* botones */
.btnEncode{
    margin-top: 130%;
} 
.btnDecode{
    margin-top: 50%;
}
.contBtn{
    display: inline-grid;
    margin-left: 3%;
}

/*CONTENEDOR DE palabras cifradas y descrifradas*/
/* #containerCC{
     
} */
.containersCC{
    float: right;
    margin-right: 20%;
}


